#thanks {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.thank{
    position: absolute;
    width: 1066px;
    height: 191px;
    left: 427px;
    top: 444px;
    
    font-family: Rowdies;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 119px;
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Redberry Red */
    
    color: #FE3B1F;
}