.navigation {
    display: flex;
    flex-direction: row;
    width: 231px;
    height: 19px;
    margin-top: 120px;
    margin-left: 250px;
    
    


    .icon {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        &.previous{
            background-image: url("../../../public/img/Previous.svg");
            padding: 10px;
            cursor: pointer;
        }
        &.ellipse{
            background-image: url("../../../public/img/EllipseFilled.svg");
            padding: 10px;
        }
        &.ellipse-filled{
            background-image: url("../../../public/img/Ellipse.svg");
            padding: 10px;
        }
        &.next{
            background-image: url("../../../public/img/Next.svg");
            padding: 10px;
            cursor: pointer;
        }
        
    }
}