#covid {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    .leftPanel {
      background-color: white;
      width: 50%;
      height: 100vh;
      
    }
    .rightPanel {
      background-color: black;
      width: 50%;
      height:1000px;
    }

    .title{
        
        display: flex;
        justify-content: 100%;
        color: red;
        font-size: 50px;
        padding-left: 50px;
        font-family: Rowdies;
        justify-content: center;
        height: 200px;
        align-items: center;
    }

    .description{
    
        padding-left: 50px;
        letter-spacing: 0.05em;
        font-family: Montserrat;
        display: flex;
        color: white;
        font-size: 25px;
        line-height: 200%;
    }

    .covidform{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-family: Montserrat;

    }

    .radioQuestion1,.radioQuestion2,.radioQuestion3,.dateQuestion1,
    .dateQuestion2, .fromHome, .fromOffice, .hybrid, .yes, .no{

        margin-top: 20px;

    }

    .dateQuestion1 input {
        padding-left: 10px;
    width: 50%;
    font-family: Montserrat;
    font-style: italic;
    }

    .dateQuestion2 input {
        padding-left: 10px;
    width: 50%;
    font-family: Montserrat;
    font-style: italic;
    }

}